@{
    ViewData["Title"] = "Get a Surgery";
}
<div class="text-center">
    <br />
    <h1>Welcome to the Knee Surgery Guide!</h1>
    <h5>I love getting knee surgeries; this site is dedicated to encouraging everyone to get knee surgery.</h5>
</div>
<div class="text-center">
    <br />
    <br />
    <h3>A Message From a Knee Surgery Participant:</h3>
    <br />
    <p>One of my favorite hobbies is getting knee surgeries. I have gotten two so far and have
    never been happier! My main goal in life is to encourage everyone I know to get knee surgeries
    even if they are unnecessary! Despite what people say, it's not that expensive, and is totally
    worth it!
    </p>
</div>
<br />
<br />
<br />
<div class="text-center">
    <h3>Who "Kneeds" a Knee Surgery?</h3>
    <br />
    <p>Everybody! No one really and truly needs their knees. Functional knees are a lie told by 
    "Big Knee" to keep us from modifying our bodies into the superior form. I'm here to enlighten
    the population and bring more followers to my path. I aim to help you unlock your body's full
    potential the only way that is publicly available - get as many knee surgeries as you can.
    </p>
    <br />
    <br />
    <h3>What Will You Give up?</h3>
    <br />
    <div class="row">
        <div class="col">
            <h4>Sitting</h4>
        </div>
        <div class="col">
            <h4>Standing</h4>
        </div>
        <div class="col">
            <h4>Running</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br />
            <img src="img/sitting.jpg" alt="Woman Sitting" />
        </div>
        <div class="col">
            <br />
            <img src="img/standing.jpg" alt="Man Standing" />
        </div>
        <div class="col">
            <br />
            <img src="img/running.jpg" alt="Man Running" />
        </div>
    </div>
    <br />
    <br />
    <h3>What Will you Gain?</h3>
    <br />
    <p>Sheeple will say the only things that come out of elective knee surgery is medical bills,
    physical therapy schedules, mobility issues, and unnecessary pain. I'm here to tell you that you
    are missing out on the best part: VIP access to a cult-like club of knee-surgery-havers that 
    will make you feel included, loved, and makes you forget the unnecessary procedure you underwent.
    </p>
</div>